version: "3.9"

services:
  couchdb:
    image: couchdb
    ports:
      - 5984:5984
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    volumes:
      - ./dbdata:/opt/couchdb/data

volumes:
  data:
    driver_opts:
      size: 2Gi