version: "3.9"

services:
  couchdb:
    image: couchdb
    ports:
      - 5984:5984
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
 externalVolumes:
  - pvc-name: /opt/couchdb/data
