version: "3"

services:
  couchdb:
    image: bitnami/couchdb:latest
    ports:
      - 5984:5984
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    volumes:
      - data:/bitnami/couchdb

volumes:
  data:
    driver: local
    driver_opts:
      size: 2Gi